{% include 'blog/common/head.html' %}

<body>

    <section class="hero is-medium">
        <div class="hero-head">
            <div class="container">
                {% include 'blog/common/header.html' %}
            </div>
        </div>

        {% block content %}
        <div class="post">
            {% if contact.created_date %}
            <div class="date">
                {{ contact.created_date }}
            </div>
            {% endif %}
            <h2>{{ contact.contact_object }}</h2>
            <p>{{ contact.content }}</p>
            <p>{{ contact.status }}</p>
        </div>
        {% endblock %}

    </section>
</body>

</html>