{% include 'blog/common/head.html' %}

<body>

  <section class="hero is-medium">
    <div class="hero-head">
      <div class="container">
        {% include 'blog/common/header.html' %}
      </div>
    </div>
    <div class="hero-body">
      <div class="container has-text-centered">
        <img src="https://cdn.emk.dev/templates/bulma-logo-light.png" width="150" height="40">
        <h2 class="subtitle">
          NOTRE SUPER BLOG
        </h2>
        <a href="{% url 'contact_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus">Contact</span></a>

      </div>
    </div>
  </section>
  <section class="blog-posts">

    <div class="container">
      <div class="columns">
        <div class="column is-10 is-offset-1">

          <div class="columns is-multiline">

            {% include 'blog/components/article.html' %}


          </div>
        </div>
      </div>
  </section>
</body>

</html>