{% load static %}

{% for post in posts %}
<div class="column post is-6">
  <article class="columns is-multiline">
    <div class="column is-12 post-img">
      <img src="{{ post.img }}" alt="Featured Image">
    </div>
    <div class="column is-12 featured-content ">
      <h3 class="heading post-category">{{ post.published_date }}</h3>
      <h1 class="title post-title">
       {{post.title}}
      </h1>
      <p class="post-excerpt">{{ post.text }}</p>
      <br>
      <a href="{% url 'post_detail' pk=post.pk %}" class="button is-primary">MORE</a>
    </div>
  </article>
</div>
{% endfor %}    